@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("../public/lined-background.png");
  background-repeat: no-repeat;
  padding-top: 100px;
}

.card p {
  width: 350px;
}
.card {
  @apply justify-center flex-col flex md:justify-start items-center;
}
